<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F2C7145A-7DA6-4752-8C0C-60542C2E61CF</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ordfeminine</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
