<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>640D273E-7522-400D-A7A3-B27E148CEC1E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ordmasculine</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
