<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>May 7, 24 at 13:28</string>
      <string>glyphs.M_ay 7, 24 at 13_28</string>
    </array>
    <array>
      <string>May 7, 24 at 13:25</string>
      <string>glyphs.M_ay 7, 24 at 13_25</string>
    </array>
    <array>
      <string>May 7, 24 at 13:35</string>
      <string>glyphs.M_ay 7, 24 at 13_35</string>
    </array>
    <array>
      <string>May 7, 24 at 13:35 #1</string>
      <string>glyphs.M_ay 7, 24 at 13_35 #1</string>
    </array>
    <array>
      <string>May 7, 24 at 13:26</string>
      <string>glyphs.M_ay 7, 24 at 13_26</string>
    </array>
    <array>
      <string>May 7, 24 at 13:27</string>
      <string>glyphs.M_ay 7, 24 at 13_27</string>
    </array>
  </array>
</plist>
